//colors
$deep_blue: #121A2E;
$blue: #0e2a5d;
$gray: #bbb;
$light-gray: #eee;
$deep-gray: #555;

//fonts
$main-font: 'Roboto', sans-serif;

//font-weights
$light: 300;
$regular: 400;
$bold: 700;

//distance

$spacer: 25px;
//z-index

$z-1: 1;
$z-2: 2;
$z-3: 3;
